
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<!DOCTYPE html>
<html>
<head>
    <title>About us</title>*@
    <link href="~/CSS/Aboutus.css" rel="stylesheet" />
@*</head>*@



<body>

    <div class="con-image">
        <img src="~/images/aboutjpg.jpg" />
    </div>

    <div class="paragraph-box">
        <div class="paragraph">

            <h3><b>A DIGITAL BANK WITH A HUMAN FACE</b></h3>
            <p>Federal Bank is the preferred Personal, NRI and Business banking partner for a growing expanse of customers across India, in both urban and rural areas. The Bank is driven by the quest to be one of the most admired banking institutions in the country. This is just one manifestation of the Bank’s powerful ‘Digital at the Fore, Human at the Core’ proposition. Redefining human experience, the digital way has been our constant goal for a while now.<br />&nbsp; Our digital innovations of today are on the cusp of redefining the banking paradigm of tomorrow. Federal Bank is continuously scaling up this mantra to reach out, meaningfully and impactfully, to more and more customers. Recognised as a Great Place to Work , the Bank is continuously striving to become the FIRST CHOICE for all Indians. Propelling this journey is our unwavering focus on the service of People, within and outside the organisation.</p>&nbsp;&nbsp;
            <p>
                Our performance is built on the bedrock of a solid foundation established by focussing on digital for the past decade. Our leading-edge digital capabilities make us a sought-after Bank in the neo-banking space. Launch of digital products and digital marketing initiatives marked a strategic leap for the Bank to capitalise on the new realities more effectively, translating into 86% share of digital transactions.<br />&nbsp; Our strategy and commitment to grow a secured credit portfolio, to pursue quality over quantity while ensuring our liabilities continue to be organic and granular helped us deliver on our capital conservation theme. We had to make some difficult choices that were necessary to realise our ambition as we commit to accelerating progress towards the goal of being the Most Admired Bank.
            </p>&nbsp;&nbsp;
            <p>
                While we broaden our horizons and accelerate progress, we also focus on reaching India’s underbanked and underserved with our neo-banking partnerships and a purpose of ‘inclusive finance’. We are constantly innovating and deploying unique differentiators in our endeavour to transform small businesses across the country. The stakes are high for small businesses in India as they are the future and make up most of the industrial fabric in our country. We are co-creating digital enablers for these businesses, to make them more sustainable and efficient. Our renewed commitment to democratise financial services using hybrid digital instruments for small businesses and deeper geographies will narrow the digital gap and deliver tangible results soon. The right digital model of reaching and enriching the underserved will surely catapult us as ‘The Perfect Banking Partner’ for these entities. Along with these, we will continue to address pressing issues such as environmental sustainability and economic inequality, and these will be the crux of our governance goals going ahead.
            </p>&nbsp;&nbsp;
            <p>
                Federal Bank has instituted a public charitable trust by name Federal Bank Hormis Memorial Foundation in 1996 to perpetuate the fond memory of late K. P. Hormis, the founder of the Bank. The Trust is striving hard to inculcate in people better knowledge and awareness in the field of banking through training programmes, focused seminars, awards and so on. The trust and its activities were inaugurated by the then Union Finance Minister Shri. P. Chidambaram at Ernakulam on 18.10.1996.

                The Bank has a Corporate Social Responsibility (CSR) Policy which is approved by the Board of Directors of the Bank, as mandated by Companies Act, 2013. The Policy elucidates in detail on the CSR Vision, the Committee and the CSR projects & activities of the Bank through the focus areas as notified under Section 135 of the Companies Act 2013 read with Companies (Corporate Social Responsibility Policy) Rules 2014 and objectives of the Federal Bank Hormis Memorial Foundation as mentioned in the trust deed. The “Federal Bank Hormis Memorial Foundation” is the principal arm in implementing various CSR programs / projects of the Bank.

                The CSR projects are executed under the Federal Bank Hormis Memorial Foundation, which acts as a special purpose vehicle for implementation of CSR activities of the Bank.
            </p>&nbsp;&nbsp;

        </div>
    </div>
    <div class="con-imag">
        <img src="~/images/ourfounderjpg.jpg" />
    </div>
    <div class="con-boxes">
        <div class="container">
            <img src="~/images/backgr11.png" />
            <p>
                Late Kulangara Paulo Hormis, the visionary Banker was born on 18th October, 1917 at Mookkannoor; a small village in the suburbs of Greater Cochin, in a traditional agrarian family. He started his career as an Advocate in the Munisiff Court of Perumbavoor. The law profession could not satisfy the entrepreneur in Late Hormis and so he gravitated to commercial banking.<br />

                The acquisition of the controlling stake in a commercial bank was a defining event in the life of late Hormis. Shri K P Hormis took up the reins of Federal Bank in 1945 as its Chief Executive. Fired by a passion for institution building, Shri Hormis built out of a One-Branch-Small-Time Bank, a nationwide institution of 285 branches in the 34 years that he remained at the helm. In 1947, the Bank was re-christened as "The Federal Bank Limited". In 1954, he was elected to the Travancore Cochin Assembly as a candidate of Indian National Congress representing Perumbavoor constituency.<br />

                The quintessential banker that he was, a structure for extending finance to agriculture and the weaker sections of society was laid by him much before these areas came into national focus. Social Banking was his passion and the Bank today in terms of national presence, diversified clientele, skilled and dedicated manpower and profitable operations, owes a great deal to the vision of this great man. The personality of Shri Hormis was multidimensional and there was no field of activity he was associated with where he did not leave his indelible imprint.<br />

                A guardian of values in public life, late Hormis groomed the Federal family in a unique tradition bequeathing passion for growth and sacrifice for the common interest. On 31 March 1979, he retired from the services of the Bank as its Chairman, but continued on its Board two more years. Shri Hormis breathed his last on 26 January 1988.
            </p>
        </div>
    </div>
    <div class="image-about">
        <img src="~/images/indexback.jpg" />
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 border-right">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <h4>About us</h4>

                <p class=".text-white">
                    Federal Bank is the preferred Personal, NRI and Business banking partner for a growing expanse of customers across India,  Propelling this journey is our unwavering focus on the service of People, within and outside the organisation.Our performance is built on the bedrock of a solid foundation established by focussing on digital for the past decade. Our leading-edge digital capabilities make us a sought-after Bank in the neo-banking space. Launch of digital products and digital marketing initiatives marked a strategic leap for the Bank to capitalise on the new realities more effectively, translating into 86% share of digital transactions. Our strategy and commitment to grow a secured credit portfolio, to pursue quality over quantity while ensuring our liabilities continue to be organic and granular helped us deliver on our capital conservation theme. We had to make some difficult choices that were necessary to realise our ambition as we commit to accelerating progress towards the goal of being the Most Admired Bank.
                </p>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 border-right">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <h4>Corporate Social Responsibility</h4>
                <p class=".text-white">
                    For Federal Bank, Corporate Social Responsibility (CSR) has been an inherited and inbuilt element of its culture from the day the bank was founded. CSR in Federal Bank began with the first act of cultivating banking habits in an agrarian society - to effectively utilize idle money for productive purposes.

                    Creating employment opportunity for a predominantly farming community was phase two. The Bank is a commercial entity. It has to carry out its operations to generate profits to fulfill its responsibility to all stakeholders. But its activities are carried out in the society and it owes to the society for its business prosperity.While carrying out its activities, Bank is duty bound to ensure that its products and services serve the best interests of the society. Bank has approved a policy for Sustainable Development, which ensures that Bank's activities are conducive to sustainable social welfare. In addition to this, Bank has to directly participate in social activities to help the development of specific areas/segments.
                </p>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 border-right">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <h4>Terms of services</h4>
                <p class=".text-white">
                    Users are prohibited from violating or attempting to violate the security of Federal Bank, including, without limitation,  (b) attempting to probe, scan or test the vulnerability of a system or network or to breach security or authentication measures without proper authorization, (c) attempting to interfere with service to any user, host or network, including, without limitation, via means of overloading, "flooding", "mailbombing" or "crashing", or (d) sending unsolicited e-mail, including promotions and/or advertising of products or services, or (e) forging any TCP/IP packet header or any part of the header information in any e-mail or newsgroup posting. Violations of system or network security may result in civil or criminal liability. Federal Bank will investigate occurrences, which may involve such violations and may involve, and cooperate with, law enforcement authorities in prosecuting users who are involved in such violations.
                </p>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 border-right">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <h4>Careers</h4>
                <p class=".text-white">
                    Be challenged everyday and let your creative juices flow
                    Everyday at Federal Bank is filled with challenges. Creativity, innovation and out of the box thinking is required not just at the corporate level but also the front line. We are a Bank that strives to give the very best to our customers and it requires us to be on our toes.

                    Dream, let dream and live dreams
                    Dreams enlighten our spirits and help us achieve our goals. We are here to dream BIG, let others dream BIG and also live all our dreams BIG. The Bank has a vision for the future, a vision that encompasses the growth of the organisation, its patrons and the society as a whole. The Bank has a horde of products and services and is spreading into the deepest pockets of the country and beyond to reach out to the millions to help them realise their dream. Sometimes a small act of confidence can make a lot of difference. That is why we are here.
                </p>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
   
</body>
</html>

